<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/public/style.css" type="text/css">
		<link rel="icon" href="/public/images/favicon.ico" />
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/public/javascript/commandParser.js"></script>
		<script src="/public/javascript/jquery.js"></script>
		<script src="/public/javascript/url.js"></script>
		<title id="title">Hermessage</title>
	</head>
	<body>
		<a href="/logout" id="logout">Logout</a>
		<div id="page_block">
			<nav id='menu_gauche' class='menu_gauche'>
				<div id='profil'>
					<h1 class='titre-section' style="text-align:left;margin-right:1em;padding-left:1em;">Profil</h1>
					<img id='profilpic' src='/public/images/profil_pic.PNG'>
					<div id='container_profil'>
						<span class='pseudo' style='float:left'>Statut</span><div class='statut'></div>
						<p><span class='pseudo' style='float:left'>Pseudo:  </span>
						<input type="text" id="pseudo" value="<%=user.local.name%>" size="5" autocomplete="off"/><p>
						<p><span class='pseudo' style='float:left;margin-top:0.5em'>Premium: Oui</span><p>
					</div>
				</div>
				<div id='gestion_room'>
					<h1 class='titre-section' style="text-align:left;margin-right:1em;padding-left:1em;">Rooms</h1>
					<div id='bloc_recherche'>
						<input class="textbox" type="text" name="recherche" id="rechercher" placeholder="Chercher une room" size="50" autocomplete="off"/>
						<img id='recherche' src=''>
					</div>
					<aside id='rooms'>
						<ul id='liste_rooms'></ul>
					</aside>
				</div>

			</nav>
			<section id="hermess_chat">

				<form action="/" method="post" id="formulaire_chat">
					<input class="textbox" type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus autocomplete="off" />
					<span id="flr">#FLR</span>
				</form>

				<article id="zone_chat">
				</article>
				<script>
					if(localStorage.chat1){
						$('#zone_chat').append(localStorage.chat1);
						if(localStorage.chat2)
							$('#zone_chat').append(localStorage.chat2);
						}
				</script>
			</section>
			<nav id='menu_droite' class='menu_droite'>
				<header>
				<a href='#'><h1>HERMÈS<span style="color : red;">S</span>AGE <img src="/public/images/hermessage.png" id="photo" /></h1></a>
				<em class="header">Harder, better, faster, stronger IRC</em>
				<br>
				</header>
				<div id="users">
					<h1 class="titre-section">Utilisateurs en ligne</h1>
					<div id='liste'></div>
				</div>
				<footer>
					<em>Réalisé par Félix Alié & David Gödicke 2015</em>
				</footer>
			</nav>
			

		</div>
		


		<script src="/socket.io/socket.io.js"></script>
		<script>

// Initialisation de session ===================================================
			var pseudo = '<%=user.local.name%>';
			var socket = io.connect(getURL() + '/chat');
			socket.emit('give_id','<%=user._id%>');


// Reception socket=============================================================
			socket.on('get_name',function(name){
				pseudo = name;
			});
            socket.on('message', function(message) {
                insereMessage(message)
            })
            socket.on('nouveau_client', function(pseudo) {
                $('#zone_chat').prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
            })
			socket.on('list', function(message){
				$('#liste').replaceWith(message);
                actualise_liste();
			});

// Action JQuerry ==============================================================
            $('#formulaire_chat').submit(function () {
                var message = $('#message').val();
				if(message == '/clear'){
					$('#zone_chat').empty();
					$('#message').val('').focus();
					localStorage.chat1 = "";
					localStorage.chat2 = "";
					localStorage.nb1 = 0;
				}
				else{
					socket.emit('message', message); // Transmet le message aux autres
					monMessage(pseudo, message); // Affiche le message aussi sur notre page
					$('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
				}
				return false; // Permet de bloquer l'envoi "classique" du formulaire
            });

// Additional function =========================================================

            function monMessage(pseudo, message) {
                $('#zone_chat').prepend(commandHTML(message,pseudo));
				store(commandHTML(message,pseudo));
            }
			function insereMessage(message) {
                $('#zone_chat').prepend(message);
				store(message);
            }
			function store(message){
				if(!localStorage.chat1){
					localStorage.nb1 = 1;
					localStorage.chat1 = message;
				}
				else{
					localStorage.chat1 = message + localStorage.chat1;
					localStorage.nb1 = Number(localStorage.nb1)+1;
					if(localStorage.nb1 > 300){
						localStorage.chat2 = localStorage.chat1;
						localStorage.nb1 = 0;
						localStorage.chat1 = " ";
					}
				}
			}
		</script>
	</body>
</html>
