<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type="text/css">
		<link rel="stylesheet" href="/public/style.css" type="text/css">
		<link rel="icon" href="/public/images/favicon.ico" />
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/public/javascript/commandParser.js"></script>
		<script src="/public/javascript/jquery.js"></script>
		<title id="title">Hermessage</title>
	</head>
	<body>
		<a href="/logout" id="logout">Logout</a>
		<div id="page_block">
			<nav id='menu_gauche' class='menu_gauche'>
				<div id='profil'>
					<p class="pseudo">Profil</p>
					<img id='profil' src=''>
				</div>
				<div id='gestion_room'>
					<p class="pseudo">Rooms</p>
					<div id='bloc_recherche'>
						<input class="textbox" type="text" name="recherche" id="rechercher" placeholder="Chercher une room" size="50" autofocus autocomplete="off"/>
						<img id='recherche' src=''>
					</div>
					<asside id='rooms'>
						<ul id='liste_rooms'></ul>
					</asside>
				</div>

			</nav>
			<div class='marge'></div>
			<section id="hermess_chat">

				<form action="/" method="post" id="formulaire_chat">
					<input class="textbox" type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus autocomplete="off" />
					<span id="flr">#FLR</span>
				</form>

				<article id="zone_chat">
				</article>
				<script>
					if(localStorage.chat1){
						$('#zone_chat').append(localStorage.chat1);
						if(localStorage.chat2)
							$('#zone_chat').append(localStorage.chat2);
					}
				</script>
			</section>
			<nav id='menu_droite' class='menu_droite'>
				<header>
				<a href='#'><h1>HERMÈS<span style="color : red;">S</span>AGE <img src="/public/images/hermessage.png" id="photo" /></h1></a>
				<em class="header">Harder, better, faster, stronger IRC</em>
				<br>
			</header>
			<aside id ="users">
					<ul id="liste_users"></ul>
				</aside>
			</nav>
			

		</div>
		<footer>
			<em>Réalisé par Félix Alié & David Gödicke 2015</em>
		</footer>


		<script src="/socket.io/socket.io.js"></script>
		<script>

// Initialisation de session ===================================================
			var pseudo = '<%=user.local.name%>';
			var socket = io.connect();
			socket.emit('give_id','<%=user._id%>');


// Reception socket=============================================================
			socket.on('get_name',function(name){
				pseudo = name;
			});
            socket.on('message', function(message) {
                insereMessage(message)
            })
            socket.on('nouveau_client', function(pseudo) {
                $('#zone_chat').prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
            })
			socket.on('list', function(message){
				$('#list').replaceWith(message);
                actualise_liste();
			});

// Action JQuerry ==============================================================
            $('#formulaire_chat').submit(function () {
                var message = $('#message').val();
                socket.emit('message', message); // Transmet le message aux autres
                monMessage(pseudo, message); // Affiche le message aussi sur notre page
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });

// Additional function =========================================================

            function monMessage(pseudo, message) {
                $('#zone_chat').prepend(commandHTML(message,pseudo));
				store(commandHTML(message,pseudo));
            }
			function insereMessage(message) {
                $('#zone_chat').prepend(message);
				store(message);
            }

            $(function() {
	    		$( "#menu" ).resizable({
	      			animate: true
	    		});
  			});
			function store(message){
				if(!localStorage.chat1){
					localStorage.nb1 = 1;
					localStorage.chat1 = message;
				}
				else{
					localStorage.chat1 = message + localStorage.chat1;
					localStorage.nb1 +=1;
					if(localStorage.nb1 > 300){
						localStorage.chat2 = localStorage.chat1;
						localStorage.nb1 = 0;
						localStorage.chat1 = " ";
					}
				}
			}
		</script>
	</body>
</html>
