<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
			<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type="text/css">
			<link rel="stylesheet" href="/public/style.css" type="text/css">
			<link rel="icon" href="/public/favicon.ico" />
			<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
			<script src="/public/jquery.js"></script>
		<title>Hermessage</title>
	</head>
	<body>
		
		<header>
			<a href="/logout">Logout</a>
			<a href='#'><h1>HermÈs<span class="red">S</span>age <img src="/public/images/hermessage.png" id="photo" /></h1></a>
			<em class="header">Harder, better, faster, stronger IRC</em>
			<br>
		</header>
		
		<section id="hermess_chat">
		
			<form action="/" method="post" id="formulaire_chat">
				<input class="textbox" type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus autocomplete="off" />
			   <!-- <input type="submit" id="envoi_message" value="Envoyer" />!-->
				<span id="flr">#FLR</span>
			</form>
			
			<article id="zone_chat">
			</article>
			
			<aside id ="zone_list">
				<ul id="list"></ul>
			</aside>
			
		</section>
		
		
		<footer>
			<em>Réalisé par Félix Alié & David Gödicke 2015 - Remerciements à Jo Colina pour le css</em>
		</footer>
		
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect();
			socket.emit('get_id','<%=user._id%>');
		</script>
	</body>
</html>
