<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
		<link id='css' rel="stylesheet" href="../public/imposetonstyle.css" type="text/css">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<title id="title">Hermessage</title>
	</head>
	<body>
		<nav id='menu_gauche'>

			<section id='profil'>
				<h1 class='titre_section' style='padding:0.3em;padding-left:1em;text-align: left;position:relative'><img id='image_profil' src='../public/images/serveur_image/caducée.png' style='width:2em;'><span style="position:relative;top:-0.5em;left:0.5em;">Tyra</span></h1>
				<!--<div id='conteneur_profil' class='conteneur' style='height: 4.3em;'>
					<span id='affiche_pseudo'></span>
					<span id='affiche_nom'></span>
					<span id='bouton_furtif' class='bouton' style='position:absolute;top:1em;'>Furtif</span> 
				</div>-->
			<section>
			<section id='rooms'>
				<div id='block'>
					<h1 class='titre_section'>Rooms</h1>
					<img id='image_ajouter' style='display:none' src='../public/images/bouton_ajouter.png'>
					<form id='form_ajouter_room' style='displaye:none'>
					</form>
				</div>
				<input id='recherche_room' type='text' class='textbox' placeholder='Chercher une room'>
				<aside id='container_recherche_room' style='displaye:none'>
				</aside>
				<aside id='container_rooms'>
					<span class='room'>Accueil<span class='container_notif'><span class='notif'>2</span></span><img src='../public/images/icones/croix.png' class='close'></span>
					<span class='room'>Amis<span class='container_notif'><span class='notif'>4</span></span><img src='../public/images/icones/croix.png' class='close'></span>
					<span class='room'>Contacts<span class='container_notif'><span class='notif'>1</span></span><img src='../public/images/icones/croix.png' class='close'></span>
				</aside>
			</section>
			<section id='contacts'>
				<h1 class='titre_section' style='padding-left:0.7em'>Contacts</h1>
			</section>
		</nav>
		<div id='zone_chat'>
				<article id='room_accueil'>
					<div class='message'>
						<span class='message_header'><span class='time'></span><span class='pseudo'>Tyra</span></span><br>
						<img class='image_message' src='../public/images/serveur_image/caducée.png'>
						<span class='message_body'>Coucou juste un petit message pour dire que tout va bien <br> Test de message <br> Encore un test juste pour remplir un peu<br>Et vas y que je te remplis encore une autre ligne, tout ça pour tester si ça s'adapte bien en hauteur et largeur</span>
					</div>
					<div class='message'>
						<span class='message_header'><span class='time'></span><span class='pseudo'>glouglou</span></span><br>
						<img class='image_message' src='../public/images/serveur_image/caducée.png'>
						<span class='message_body'>osef</span>
					</div>
					<div class='message'>
						<span class='message_header'><span class='time'></span><span class='pseudo'>Tyra</span></span><br>
						<img class='image_message' src='../public/images/serveur_image/caducée.png'>
						<span class='message_body'>Ta gueule</span>
					</div>
					<div class='message'>
						<span class='message_header'><span class='time'></span><span class='pseudo'>QMK</span></span><br>
						<img class='image_message' src='../public/images/serveur_image/caducée.png'>
						<span class='message_body'>Eh eh eh moi j'habite au Rouret lol<br>Et j'ai plein d'argent lol<br>Et je suis une pute!!</span>
					</div>
				</article>
				<form action="/" method="post" id="form_chat">
				<img id='hidetime' src='../public/images/icones/time.png' title='Afficher heure des messages' style='  width: 1.5em;position: absolute;left: 1em;bottom: 0.7em;'>
				<input class="textbox" type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus autocomplete="off" />
			</form>
		</div>
		<nav id='menu_droite'>
			<header>
				<a href='#'><h1>HERMÈS<span class='blue'>S</span>AGE <img src="../public/images/serveur_image/hermessagev3_simple.png" id="image_logo" style='width:2em'/></h1></a>
			</header>
			<section id='utilisateurs'>
				<h1 class='titre_section'>Utilisateurs</h1>
				<aside id='container_users'>
					<span class='user'>Tyra</span>
					<span class='user'>glouglou</span>
					<span class='user'>QMK</span>
				</aside>
			</section>
			<footer>
			</footer>
		</nav>
		<script>
			$(document).ready(function(){
				resizeMid();
				$(window).resize(function() {
				  resizeMid();
				});
				function resizeMid(){
					var mid_width = $('body').width() - ($('#menu_gauche').width()+$('#menu_droite').width());
					$('#zone_chat').css({'width':mid_width});
				}
			});
		</script>
	</body>
</html>
