/*============================================================*/
/********************CSS GENERAL ********** *******************/
/*============================================================*/
body{
	font-family: 'Roboto', sans-serif;
	/*background-color: #222222;*/
	background-image:url('../public/images/navy_blue.png');
	color: white;
	font-weight: 100;
	margin:0;
	overflow:hidden;

}
::-webkit-scrollbar {
    display: none;
}
html {
     -ms-overflow-style: none;
}
iframe {
  vertical-align: middle;
  width:250px;
  height:180px;
}
header{
	text-align: center;
	border-bottom: solid;
	border-width: 0.3em;
	border-color: rgb(26, 25, 25);
	background: rgb(32, 32, 32);
}
a{
	text-decoration: none;
	color:white;
}
h1{
	font-weight: 100;
}
.blue{
	color: rgb(0, 118, 186);
	font-weight: 700;
}
/*============================================================*/
/********************CSS DES BOUTONS **************************/
/*============================================================*/
.bouton{
	background: rgb(0, 118, 186);
	padding: 0.7em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-radius: 0.3em;
	font-size: 0.8em;
 }
 .bouton:hover{
 	cursor: pointer;
 	background:rgb(182, 172, 172); 
 }
/*============================================================*/
/********************CSS DES TITRES ******* *******************/
/*============================================================*/
.titre_section{
	color: white;
	font-weight: 100;
	padding: 0.7em;
	padding-left: 1em;
	border-bottom: solid;
	border-width: 1px;
	margin: 0;
	border-color: rgb(26, 25, 25);
	font-size: 1.2em;
	background: rgb(32, 32, 32);
}
.titre_section:hover{
	background: rgb(42, 42, 42);
	cursor: pointer;
}
/*============================================================*/
/********************CSS DES CONTENEURS ***********************/
/*============================================================*/
.conteneur{
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(26, 25, 25);
	position: relative;
}
.room{
	position: relative;
	display: block;
	background: rgb(26, 26, 26);
	padding: 0.7em;
	padding-left: 1em;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(32, 32, 32);
}
.user{
	display: inline-block;
	width: 26.09%;
	background: rgb(32, 32, 32);
	text-align: center;
	padding: 0.6em;
	overflow:hidden;
}
.user:hover,.room:hover{
	cursor: pointer;
	background: rgb(0, 118, 186);
}
#container_users{
	background: rgb(26, 26, 26);
	padding-top: 0.2em;
}
/*============================================================*/
/*********************CSS DES FORMULAIRES *********************/
/*============================================================*/
.textbox{
	border: none;
	background: rgb(56, 56, 56);
	outline: none !important;
	outline-offset: none !important;
	color:white;
	padding: 6px 15px 6px 35px;
}
#message{
	width: 100%;
	padding: 0.9em;
	padding-left: 3.5em;
	color: white;
	font-size: 1em;
}
#form_chat{
	position: absolute;
	bottom: 0;
	left: -0.1em;
	width: 100%;
	z-index:1;
}
#recherche_room,#recherche_user{
	width: 60%;
	margin-left: 1.5em;
	/*padding: 0.5em;*/
	border-radius: 20px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/*============================================================*/
/*********************CSS DES MENUS ***************************/
/*============================================================*/
nav{
	position: relative;
	width: 240px;
	height:101vh;
	text-align: center;
	-moz-box-shadow: 1px 0px 5px 1px rgb(19, 16, 16);
	-webkit-box-shadow:1px 0px 5px 1px rgb(19, 16, 16);
	-o-box-shadow: 1px 0px 5px 1px rgb(19, 16, 16);
	box-shadow: 1px 0px 5px 1px rgb(19, 16, 16);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=rgb(19, 16, 16), Direction=-90, Strength=2);
	z-index:2;
	background: rgb(32, 32, 32);
	}
#menu_gauche{
	float:left;
	text-align:left;
}
#menu_droite{
	float:right;
	width: 300px;
	text-align: center;
	-moz-box-shadow: -1px 0px 5px 1px rgb(19, 16, 16);
	-webkit-box-shadow:-1px 0px 5px 1px rgb(19, 16, 16);
	-o-box-shadow: -1px 0px 5px 1px rgb(19, 16, 16);
	box-shadow: -1px 0px 5px 1px rgb(19, 16, 16);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=rgb(19, 16, 16), Direction=-90, Strength=2);
}
/*============================================================*/
/********************CSS CONTENU MULTIMEDIA *******************/
/*============================================================*/
.grande_video{
	width:540px;
	height:330px;
}
/*============================================================*/
/********************CSS DES MESSAGES *************************/
/*============================================================*/
#zone_chat{
	position: relative;
	width:800px;
	height:100vh;
	float:left;
}

article{
	padding: 2em;
	max-width: 60%;
	padding-top: 0;
}

.image_message{
	width: 2em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	border-radius: 50%;
	z-index:2;
}

.message_header{
	display: inline-block;
	background: rgb(0, 118, 186);
	font-weight: 700;
	color: white;
	padding: 0.2em;
	padding-left: 3.2em;
	padding-right: 4em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 0.9em;
}

.message_body{
	background: rgb(245, 245, 242);
	display: inline-block;
	padding: 2.5em;
	padding-left: 3.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	color: black;
	font-size: 0.8em;
	position: relative;
	top: 0;
	font-weight: 400;
	min-width: 15em;
}

.message{
	position: relative;
	margin-top:1em;
}
/*============================================================*/
/*************************NOTIFICATIONS************************/
/*============================================================*/
.notif{
	float: right;
	display: block;
	background: rgb(47, 116, 184);
	font-size: 0.6em;
	width: 1.3em;
	height: 1.3em;
	text-align: center;
	border-radius: 50%;
	padding: 0.4em;
	margin-right:2em;
}
.close {
	width: 0.5em;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 0.3em;
	border-radius: 50%;
}
.close:hover{
	background: rgb(51,51,51);
}